In [1]:

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor, BaggingRegressor
from sklearn.svm import SVR

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Premalatha-success/Datasets/refs/heads/main/AutoInsurance.csv")

In [3]:
df.sample(10)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
2890,GE63585,California,2420.711888,No,Basic,Bachelor,7/2/2011,Employed,M,31710,...,29,0,1,Corporate Auto,Corporate L3,Offer1,Call Center,199.551735,Two-Door Car,Medsize
7089,LV82913,Oregon,5715.787663,No,Basic,College,1/19/11,Employed,M,69451,...,93,0,5,Corporate Auto,Corporate L2,Offer2,Web,230.241775,Four-Door Car,Medsize
8430,XC83045,Nevada,16460.077540,No,Extended,Bachelor,9/2/2011,Disabled,M,16869,...,57,0,3,Personal Auto,Personal L2,Offer1,Call Center,1065.600000,Luxury SUV,Small
2296,NW41789,Oregon,2746.903190,No,Extended,Bachelor,1/24/11,Unemployed,M,0,...,44,0,1,Personal Auto,Personal L3,Offer4,Call Center,604.800000,Four-Door Car,Medsize
2902,JP64518,Nevada,2402.815970,No,Basic,Bachelor,1/15/11,Employed,M,21629,...,54,0,1,Corporate Auto,Corporate L2,Offer1,Call Center,298.626189,Two-Door Car,Small
1181,EL99335,California,2685.177658,No,Basic,College,1/29/11,Retired,F,20608,...,24,0,1,Personal Auto,Personal L2,Offer3,Branch,350.400000,Four-Door Car,Small
5951,CV44550,Arizona,7559.206998,No,Premium,College,1/18/11,Unemployed,M,0,...,58,1,3,Corporate Auto,Corporate L3,Offer1,Call Center,964.515980,Four-Door Car,Small
1596,VW86720,Oregon,7457.468107,No,Basic,Bachelor,5/1/2011,Unemployed,F,0,...,73,0,2,Personal Auto,Personal L1,Offer1,Call Center,678.209827,Four-Door Car,Small
5703,GT14584,Oregon,4122.569957,No,Basic,College,2/18/11,Employed,F,75272,...,10,0,1,Personal Auto,Personal L2,Offer4,Call Center,71.647924,SUV,Medsize
7918,PA56702,Arizona,8569.364390,No,Basic,Doctor,9/2/2011,Unemployed,M,0,...,11,0,8,Personal Auto,Personal L1,Offer4,Agent,957.134978,SUV,Small

In [4]:
df.shape

(9134, 24)

In [5]:
df.describe(include="all")

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
count,9134,9134,9134.000000,9134,9134,9134,9134,9134,9134,9134.000000,...,9134.000000,9134.000000,9134.000000,9134,9134,9134,9134,9134.000000,9134,9134
unique,9134,5,NaN,2,3,5,59,5,2,NaN,...,NaN,NaN,NaN,3,9,4,4,NaN,6,3
top,Y167826,California,NaN,No,Basic,Bachelor,10/1/2011,Employed,F,NaN,...,NaN,NaN,NaN,Personal Auto,Personal L3,Offer1,Agent,NaN,Four-Door Car,Medsize
freq,1,3150,NaN,7826,5568,2748,195,5698,4658,NaN,...,NaN,NaN,NaN,6788,3426,3752,3477,NaN,4621,6424
mean,NaN,NaN,8004.940475,NaN,NaN,NaN,NaN,NaN,NaN,37657.380009,...,48.064594,0.384388,2.966170,NaN,NaN,NaN,NaN,434.088794,NaN,NaN
std,NaN,NaN,6870.967608,NaN,NaN,NaN,NaN,NaN,NaN,30379.904734,...,27.905991,0.910384,2.390182,NaN,NaN,NaN,NaN,290.500092,NaN,NaN
min,NaN,NaN,1898.007675,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,...,0.000000,0.000000,1.000000,NaN,NaN,NaN,NaN,0.099007,NaN,NaN
25%,NaN,NaN,3994.251794,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,...,24.000000,0.000000,1.000000,NaN,NaN,NaN,NaN,272.258244,NaN,NaN
50%,NaN,NaN,5780.182197,NaN,NaN,NaN,NaN,NaN,NaN,33889.500000,...,48.000000,0.000000,2.000000,NaN,NaN,NaN,NaN,383.945434,NaN,NaN
75%,NaN,NaN,8962.167041,NaN,NaN,NaN,NaN,NaN,NaN,62320.000000,...,71.000000,0.000000,4.000000,NaN,NaN,NaN,NaN,547.514839,NaN,NaN
max,NaN,NaN,83325.381190,NaN,NaN,NaN,NaN,NaN,NaN,99981.000000,...,99.000000,5.000000,9.000000,NaN,NaN,NaN,NaN,2893.239678,NaN,NaN

In [6]:
df= df.drop(["Customer", "Effective To Date"],axis=1)

In [7]:
df.shape

(9134, 22)

In [8]:
df.nunique()

State                               5
Customer Lifetime Value          8041
Response                            2
Coverage                            3
Education                           5
EmploymentStatus                    5
Gender                              2
Income                           5694
Location Code                       3
Marital Status                      3
Monthly Premium Auto              202
Months Since Last Claim            36
Months Since Policy Inception     100
Number of Open Complaints           6
Number of Policies                  9
Policy Type                         3
Policy                              9
Renew Offer Type                    4
Sales Channel                       4
Total Claim Amount               5106
Vehicle Class                       6
Vehicle Size                        3
dtype: int64

In [9]:
#df.hist(figsize=(10,10))

In [10]:
#sns.pairplot(df)

In [11]:
df.corr(numeric_only=True)

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
Customer Lifetime Value,1.000000,0.024366,0.396262,0.011517,0.009418,-0.036343,0.021955,0.226451
Income,0.024366,1.000000,-0.016665,-0.026715,-0.000875,0.006408,-0.008656,-0.355254
Monthly Premium Auto,0.396262,-0.016665,1.000000,0.005026,0.020257,-0.013122,-0.011233,0.632017
Months Since Last Claim,0.011517,-0.026715,0.005026,1.000000,-0.042959,0.005354,0.009136,0.007563
Months Since Policy Inception,0.009418,-0.000875,0.020257,-0.042959,1.000000,-0.001158,-0.013333,0.003335
Number of Open Complaints,-0.036343,0.006408,-0.013122,0.005354,-0.001158,1.000000,0.001498,-0.014241
Number of Policies,0.021955,-0.008656,-0.011233,0.009136,-0.013333,0.001498,1.000000,-0.002354
Total Claim Amount,0.226451,-0.355254,0.632017,0.007563,0.003335,-0.014241,-0.002354,1.000000

In [12]:
df.isnull().sum()

State                            0
Customer Lifetime Value          0
Response                         0
Coverage                         0
Education                        0
EmploymentStatus                 0
Gender                           0
Income                           0
Location Code                    0
Marital Status                   0
Monthly Premium Auto             0
Months Since Last Claim          0
Months Since Policy Inception    0
Number of Open Complaints        0
Number of Policies               0
Policy Type                      0
Policy                           0
Renew Offer Type                 0
Sales Channel                    0
Total Claim Amount               0
Vehicle Class                    0
Vehicle Size                     0
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   State                          9134 non-null   object
 1   Customer Lifetime Value        9134 non-null   float64
 2   Response                       9134 non-null   object
 3   Coverage                       9134 non-null   object
 4   Education                      9134 non-null   object
 5   EmploymentStatus               9134 non-null   object
 6   Gender                         9134 non-null   object
 7   Income                         9134 non-null   int64
 8   Location Code                  9134 non-null   object
 9   Marital Status                 9134 non-null   object
 10  Monthly Premium Auto           9134 non-null   int64
 11  Months Since Last Claim        9134 non-null   int64
 12  Months Since Policy Inception  9134 non-null   int64
 13  Number of Open Complaints      9134 non-null   int64
 14  Number of Policies             9134 non-null   int64
 15  Policy Type                    9134 non-null   object
 16  Policy                         9134 non-null   object
 17  Renew Offer Type               9134 non-null   object
 18  Sales Channel                  9134 non-null   object
 19  Total Claim Amount             9134 non-null   float64
 20  Vehicle Class                  9134 non-null   object
 21  Vehicle Size                   9134 non-null   object
dtypes: float64(2), int64(6), object(14)
memory usage: 1.5+ MB

In [14]:

le=LabelEncoder()
for col in df.select_dtypes(include="object").columns:
  df[col]=le.fit_transform(df[col])

In [15]:
df.dtypes

State                              int64
Customer Lifetime Value          float64
Response                           int64
Coverage                           int64
Education                          int64
EmploymentStatus                   int64
Gender                             int64
Income                             int64
Location Code                      int64
Marital Status                     int64
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                        int64
Policy                             int64
Renew Offer Type                   int64
Sales Channel                      int64
Total Claim Amount               float64
Vehicle Class                      int64
Vehicle Size                       int64
dtype: object

In [16]:
df.sample(10)

,State,Customer Lifetime Value,Response,Coverage,Education,EmploymentStatus,Gender,Income,Location Code,Marital Status,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
3459,3,7276.340609,0,0,1,4,0,0,1,2,...,84,2,3,0,2,0,0,777.600000,4,1
3439,0,5593.434009,0,0,0,1,0,96406,1,1,...,64,0,8,1,3,1,3,331.200000,5,1
6268,1,7147.621865,0,1,0,1,1,87454,0,1,...,88,0,6,1,5,0,2,60.921658,0,1
1622,2,9553.415528,0,2,1,4,1,0,1,2,...,14,0,4,0,2,0,0,1051.200000,3,1
5552,2,10883.787850,0,1,3,1,0,91123,0,0,...,70,3,8,0,0,0,0,103.462381,3,1
4001,1,9388.981905,0,1,0,1,0,33599,0,0,...,31,0,2,1,5,1,1,111.265486,0,2
7166,3,3155.455620,0,1,0,1,1,36706,1,1,...,67,0,1,1,5,0,0,488.296267,0,1
5914,3,2386.201293,0,0,3,1,1,70911,1,2,...,13,3,1,0,1,1,0,302.400000,5,1
5663,2,6674.448050,0,1,3,4,1,0,1,2,...,24,0,9,1,5,1,2,931.648937,5,1
3911,0,4654.841089,0,0,0,4,1,0,1,2,...,19,0,4,1,4,0,2,577.385463,5,0

In [17]:
Y=df["Customer Lifetime Value"]
X= df.drop("Customer Lifetime Value",axis=1)

In [18]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3)

In [19]:
X_train.dtypes

State                              int64
Response                           int64
Coverage                           int64
Education                          int64
EmploymentStatus                   int64
Gender                             int64
Income                             int64
Location Code                      int64
Marital Status                     int64
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                        int64
Policy                             int64
Renew Offer Type                   int64
Sales Channel                      int64
Total Claim Amount               float64
Vehicle Class                      int64
Vehicle Size                       int64
dtype: object

In [20]:

model_lr=LinearRegression()
model_lr.fit(X_train,Y_train)
train = model_lr.score(X_train,Y_train)
test = model_lr.score(X_test,Y_test)

In [21]:

model_dt=DecisionTreeRegressor()
model_dt.fit(X_train,Y_train)
print(model_dt.score(X_train,Y_train))
print(model_dt.score(X_test,Y_test))

1.0
0.4253010680303082

In [22]:
model_svm=SVR()
model_svm.fit(X_train,Y_train)
train = model_svm.score(X_train,Y_train)
test = model_svm.score(X_test,Y_test)

In [23]:
print(train)
print(test)

-0.10267751783111878
-0.08966274517701667

In [24]:
model_knn=KNeighborsRegressor()
model_knn.fit(X_train,Y_train)
train = model_knn.score(X_train,Y_train)
test = model_knn.score(X_test,Y_test)
print(train)
print(test)

0.34231411775763376
0.008140703839812136

In [25]:
model_bg=BaggingRegressor()
model_bg.fit(X_train,Y_train)
train = model_bg.score(X_train,Y_train)
test = model_bg.score(X_test,Y_test)
print(train)
print(test)

0.9380850229508905
0.680612329119092

In [26]:
model_ab=AdaBoostRegressor()
model_ab.fit(X_train,Y_train)
train = model_ab.score(X_train,Y_train)
test = model_ab.score(X_test,Y_test)
print(train)
print(test)

0.4797064376796948
0.48362775579667583

In [27]:
model_gb=GradientBoostingRegressor()
model_gb.fit(X_train,Y_train)
train = model_gb.score(X_train,Y_train)
test = model_gb.score(X_test,Y_test)

print(train)
print(test)

0.7307668609836906
0.6814657937328893

In [28]:
model_rf=RandomForestRegressor()
model_rf.fit(X_train,Y_train)
train = model_rf.score(X_train,Y_train)
test = model_rf.score(X_test,Y_test)
print(train)
print(test)

0.9578908659291392
0.6982486418152807

In [29]:
# Select only numerical columns
numerical_cols = df.select_dtypes(include=['number']).columns

# Calculate Q1 and Q3 for each numerical column
Q1 = df[numerical_cols].quantile(0.25)
Q3 = df[numerical_cols].quantile(0.75)

# Calculate IQR for each numerical column
IQR = Q3 - Q1
print(IQR)
# Determine bounds for each column
lower_bounds = Q1 - 1.5 * IQR
upper_bounds = Q3 + 1.5 * IQR

# Create a boolean mask to filter out rows with outliers in any numerical column
mask = ~(
    (df[numerical_cols] < lower_bounds) | (df[numerical_cols] > upper_bounds)
).any(axis=1)

# Apply the mask to get cleaned DataFrame
df = df[mask]
df.info()

State                                2.000000
Customer Lifetime Value           4967.915247
Response                             0.000000
Coverage                             1.000000
Education                            3.000000
EmploymentStatus                     3.000000
Gender                               1.000000
Income                           62320.000000
Location Code                        0.000000
Marital Status                       1.000000
Monthly Premium Auto                41.000000
Months Since Last Claim             17.000000
Months Since Policy Inception       47.000000
Number of Open Complaints            0.000000
Number of Policies                   3.000000
Policy Type                          0.000000
Policy                               2.000000
Renew Offer Type                     2.000000
Sales Channel                        2.000000
Total Claim Amount                 275.256594
Vehicle Class                        4.000000
Vehicle Size                         0.000000
dtype: float64
<class 'pandas.core.frame.DataFrame'>
Index: 1431 entries, 2 to 9124
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   State                          1431 non-null   int64
 1   Customer Lifetime Value        1431 non-null   float64
 2   Response                       1431 non-null   int64
 3   Coverage                       1431 non-null   int64
 4   Education                      1431 non-null   int64
 5   EmploymentStatus               1431 non-null   int64
 6   Gender                         1431 non-null   int64
 7   Income                         1431 non-null   int64
 8   Location Code                  1431 non-null   int64
 9   Marital Status                 1431 non-null   int64
 10  Monthly Premium Auto           1431 non-null   int64
 11  Months Since Last Claim        1431 non-null   int64
 12  Months Since Policy Inception  1431 non-null   int64
 13  Number of Open Complaints      1431 non-null   int64
 14  Number of Policies             1431 non-null   int64
 15  Policy Type                    1431 non-null   int64
 16  Policy                         1431 non-null   int64
 17  Renew Offer Type               1431 non-null   int64
 18  Sales Channel                  1431 non-null   int64
 19  Total Claim Amount             1431 non-null   float64
 20  Vehicle Class                  1431 non-null   int64
 21  Vehicle Size                   1431 non-null   int64
dtypes: float64(2), int64(20)
memory usage: 257.1 KB

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1431 entries, 2 to 9124
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   State                          1431 non-null   int64
 1   Customer Lifetime Value        1431 non-null   float64
 2   Response                       1431 non-null   int64
 3   Coverage                       1431 non-null   int64
 4   Education                      1431 non-null   int64
 5   EmploymentStatus               1431 non-null   int64
 6   Gender                         1431 non-null   int64
 7   Income                         1431 non-null   int64
 8   Location Code                  1431 non-null   int64
 9   Marital Status                 1431 non-null   int64
 10  Monthly Premium Auto           1431 non-null   int64
 11  Months Since Last Claim        1431 non-null   int64
 12  Months Since Policy Inception  1431 non-null   int64
 13  Number of Open Complaints      1431 non-null   int64
 14  Number of Policies             1431 non-null   int64
 15  Policy Type                    1431 non-null   int64
 16  Policy                         1431 non-null   int64
 17  Renew Offer Type               1431 non-null   int64
 18  Sales Channel                  1431 non-null   int64
 19  Total Claim Amount             1431 non-null   float64
 20  Vehicle Class                  1431 non-null   int64
 21  Vehicle Size                   1431 non-null   int64
dtypes: float64(2), int64(20)
memory usage: 257.1 KB

In [31]:
df.describe()

,State,Customer Lifetime Value,Response,Coverage,Education,EmploymentStatus,Gender,Income,Location Code,Marital Status,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
count,1431.000000,1431.000000,1431.0,1431.000000,1431.000000,1431.000000,1431.000000,1431.000000,1431.0,1431.000000,...,1431.000000,1431.0,1431.000000,1431.0,1431.000000,1431.000000,1431.000000,1431.000000,1431.000000,1431.0
mean,1.738644,6168.691157,0.0,0.473096,1.569532,2.255765,0.529700,25265.470300,1.0,1.236198,...,48.808526,0.0,2.731656,1.0,4.320056,1.041230,1.152341,504.241115,1.863033,1.0
std,1.299880,3236.121987,0.0,0.647056,1.346020,1.522418,0.499292,27815.625185,0.0,0.659606,...,28.736730,0.0,2.082050,0.0,0.759745,1.053322,1.089296,163.558629,2.109445,0.0
min,0.000000,1994.774936,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,...,0.000000,0.0,1.000000,1.0,3.000000,0.000000,0.000000,292.800000,0.000000,1.0
25%,1.000000,3649.451396,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,1.0,1.000000,...,25.000000,0.0,1.000000,1.0,4.000000,0.000000,0.000000,355.200000,0.000000,1.0
50%,1.000000,5272.191556,0.0,0.000000,1.000000,1.000000,1.000000,20961.000000,1.0,1.000000,...,48.000000,0.0,2.000000,1.0,4.000000,1.000000,1.000000,482.400000,0.000000,1.0
75%,3.000000,8106.018185,0.0,1.000000,3.000000,4.000000,1.000000,41459.500000,1.0,2.000000,...,74.000000,0.0,3.000000,1.0,5.000000,2.000000,2.000000,604.800000,4.000000,1.0
max,4.000000,16313.683490,0.0,2.000000,4.000000,4.000000,1.000000,98796.000000,1.0,2.000000,...,99.000000,0.0,8.000000,1.0,5.000000,3.000000,3.000000,957.600000,5.000000,1.0

In [32]:
Y=df["Customer Lifetime Value"]
X= df.drop("Customer Lifetime Value",axis=1)

In [33]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3)

In [49]:
model_rf=RandomForestRegressor(max_depth=4)
model_rf.fit(X_train,Y_train)
train = model_rf.score(X_train,Y_train)
test = model_rf.score(X_test,Y_test)

In [50]:
train

0.9203033623848301

In [51]:
test

0.8842718828056566